<html>
    <head>
        <title>LINUX</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={{ url_for('static', filename='bootstrap.min.css') }}>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    
    <body style="background-color:white">
    
    <div class="container">
        <div class="page-header text-center bg-success text-white h-20">
            <h1>LINUX MENU</h1>
        </div>
    </div>
    

    <div class='h-25 container text-center mt-5'>
    <h1 class='mx-5'>What do you want to do in Linux?</h1>
    </div>

    <div class='row'>
    <div class='col-sm-4 mt-5'></div>
    <div class='col-sm-4 mt-5'>
        <div class='container px-5 py-5'>
            <form method='GET' action='/linux-output' target='_blank'>
        
                <select class="form-select" name='option' aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option name='option' value="1">Create a directory</option>
                    <option name='option' value="2">List files in current directory</option>
                    <option name='option' value="3">Create an empty file</option>
                    <option name='option' value="4">Add a new user</option>
                    <option name='option' value="5">Set/change password</option>
                    <option name='option' value="6">Show current RAM usage</option>
                    <option name='option' value="7">Show the disk usage</option>
                    <option name='option' value="8">Check if command is present</option>
                    <option name='option' value="9">Removes a command</option>
                    <option name='option' value="10">Lists the network configuration</option>
                    <option name='option' value="11">Checks the java running services</option>
                    <option name='option' value="12">List the CPU info</option>
                    <option name='option' value="13">Show currenty running processes</option>
                    <option name='option' value="14">Show running time of device</option>
                    <option name='option' value="15">Clear the cache</option>
                    <option name='option' value="16">Check which package provide the command</option>
                    <option name='option' value="17">Checks the connectivity to IP</option>
                    <option name='option' value="18">Create a user for running a specific command</option>

                </select>
        
        

                <button class='btn btn-dark mx-5 my-5' type='submit'>submit</button>
        
            </form>
        </div>
    </div>
    <div class='col-sm-4 mt-5'></div>

    </body>
</html>