<html>
    <head>
        <title>HADOOP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={{ url_for('static', filename='bootstrap.min.css') }}>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    
    <body style="background-color:white">
    
    <div class="container">
        <div class="page-header text-center bg-danger text-white h-20">
            <h1>HADOOP MENU</h1>
        </div>
    </div>
    

    <div class='h-25 container text-center mt-5'>
    <h1 class='mx-5'>What do you want to do in Hadoop?</h1>
    </div>

    <div class='row'>
    <div class='col-sm-4 mt-5'></div>
    <div class='col-sm-4 mt-5'>
        <div class='container px-5 py-5'>
            <form method='GET' action='/hadoop-output' target='_blank'>
        
                <select class="form-select" name='option' aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option name='option' value="1">Check the hadoop version</option>
                    <option name='option' value="2">Format a hadoop namenode</option>
                    <option name='option' value="3">Start the namenode service</option>
                    <option name='option' value="4">Start the datanode service</option>
                    <option name='option' value="5">Show the hadoop report</option>
                    <option name='option' value="6">List all files present in hadoop filesystem</option>
                    <option name='option' value="7">Upload the file to hadoop filesystem</option>
                    <option name='option' value="8">Remove the file from hadoop filesystem</option>
                    <option name='option' value="9">List the contents of a file in hdfs</option>
                    <option name='option' value="10">Upload the file with a defined block size</option>
                    <option name='option' value="11">Create an empty file in hadoop filesystem</option>
                </select>
        
        

                <button class='btn btn-dark mx-5 my-5' type='submit'>submit</button>
        
            </form>
        </div>
    </div>
    <div class='col-sm-4 mt-5'></div>

    </body>
</html>